<div id="cookie-popup" class="cookie-popup">
  <div class="popup-wrapper">
      <p class="cookie-class"> Ao visitar o nosso website, declara ter mais de 18 anos e concorda com
        os nosso <a href="terms.html">Termos e Condições</a>,
        <a href="privacy.html">Política de Privacidade</a> e aceita o uso
        <a href="cookies.html">de Cookies</a>. Este site contém anúncios.</p>
      <div class="cookie-buttons">
          <button id="accept-cookies" class="btn-accept">Aceitar todos</button>
      </div>
  </div>
</div>