<footer class="footer">
  <div class="footer-up container">
    <p class="footer-one-text">Gostou do nosso site? <br class="footer-br"/>
      Tem comentários ou sugestões?</p>
      <p class="footer-two-text">Sua opinião nos ajuda a melhorar continuamente. Escreva para nós em info@creativecorea.com</p>
  </div>
  <div class="container footer-container">
     <ul class="footer-navigation">
          <li class="footer-link">
              <a class="footer-underline" href="privacy.html">Política de Privacidade <span class="mob">__</span> <span class="desk">|</span></a>
          </li>
          <li class="footer-link">
              <a class="footer-underline" href="terms.html">Termos e Condições <span class="mob">__</span><span class="desk">|</span></a>
          </li>
          <li class="footer-link">
              <a class="footer-underline" href="cookies.html">Política de Cookies</a>
          </li>
      </ul>
      <p class="footer-text">Copyright © Creativecorea.com - All Rights Reserved.</p>
  </div>
</footer>