<section class="hero-section" id="hero">
    <div class="container">
        <h1 class="hero-title">Os Nossos <span class="hero-span">Casinos Favoritos</span></h1>
        <ul class="hero-list">
            <li class="hero-item">
                <img class="hero-img-one" src="/img/hero/one.png" alt="Site logo" loading="lazy">
                <img class="flag-img" src="/img/hero/flag.png" alt="Flag" loading="lazy">
                <p class="cost-text">100% até 100€</p>
                <p class="spins-text">+ 25 Free Spins (registo)</p>
                <p class="logo-text">Solverde</p>
                <a class="hero-link" target="_blank" href="https://www.solverde.pt/">Jogue agora</a>
            </li>
            <li class="hero-item">
                <img class="hero-img-one" src="/img/hero/two.png" alt="Site logo" loading="lazy">
                <img class="flag-img" src="/img/hero/flag.png" alt="Flag" loading="lazy">
                <p class="cost-text">Até 700€</p>
                <p class="spins-text">+ 300 Jogadas Grátis</p>
                <p class="logo-text">Nossaaposta</p>
                <a class="hero-link" target="_blank" href="https://www.nossaaposta.pt/">Jogue agora</a>
            </li>
            <li class="hero-item">
                <img class="hero-img-one" src="/img/hero/three.png" alt="Site logo" loading="lazy">
                <img class="flag-img" src="/img/hero/flag.png" alt="Flag" loading="lazy">
                <p class="cost-text">Até 125 Rodadas</p>
                <p class="spins-text">Grátis</p>
                <p class="logo-text">Bwin</p>
                <a class="hero-link" target="_blank" href="https://www.bwin.pt/">Jogue agora</a>
            </li>
            <li class="hero-item">
                <img class="hero-img-one" src="/img/hero/four.png" alt="Site logo" loading="lazy">
                <img class="flag-img" src="/img/hero/flag.png" alt="Flag" loading="lazy">
                <p class="cost-text">Dep. 10€ →</p>
                <p class="spins-text">joga com 50€</p>
                <p class="logo-text">Betclic</p>
                <a class="hero-link" target="_blank" href="https://www.betclic.com/">Jogue agora</a>
            </li>
        </ul>
    </div>
</section>
<section class="about-section">
    <div class="container about-container">
        <h2 class="about-title">Os melhores casinos online com licença em Portugal</h2>
        <p class="about-text">Na Creativecorea, andámos a testar uns quantos casinos que são legais aqui em Portugal. Olhámos para quantos jogos têm,
        se o site funciona bem, se as promoções são claras e a qualidade do apoio ao cliente em português. Só indicamos sites
        onde a verificação da conta não é um pesadelo, os depósitos e levantamentos são simples e transparentes — com opções
        como Multibanco e MB Way — e onde existem regras claras pensadas para garantir a segurança do jogador durante o jogo.</p>
    </div>
</section>
<section class="faq-section">
    <div class="container faq-container">
        <h2 class="faq-title">Perguntas Frequentes <span class="faq-span"> (FAQ)</span></h2>
        <ul class="faq-acc">
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                    O que caracteriza um casino online licenciado em Portugal?
        
<img class="arrow-img" src="/img/faq/arrow.png" alt="Arrow" width="16" height="16">
                    </button>
                </h3>
        
                <p class="faq-acc-el-descr-frame">Se um casino tem licença do SRIJ, quer dizer que cumpre a lei portuguesa. Isto quer dizer que tens mesmo de provar quem
                és, a utilização de sistemas de prevenção de fraude e a disponibilização de ferramentas de jogo responsável. O
                utilizador pode definir limites pessoais, suspender a conta temporariamente e aceder a informação clara sobre
                probabilidades e condições dos bónus.</p>
            </li>
             <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
Como funcionam os bónus de boas-vindas na prática?
        
<img class="arrow-img" src="/img/faq/arrow.png" alt="Arrow" width="16" height="16">
                    </button>
                </h3>
        
                <p class="faq-acc-el-descr-frame">Normalmente, o bónus inicial combina um valor extra sobre o depósito com rodadas grátis. Antes de aceitar qualquer
                oferta, é importante analisar os detalhes: requisitos de apostas, jogos elegíveis, limite máximo por aposta e o prazo
                disponível para cumprir as condições. A minha dica? Vai para as slots que contam 100% para o rollover - é muito mais
                fácil, facilitando a libertação do bónus.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
O que é um bónus sem depósito e quais são as limitações?
        
<img class="arrow-img" src="/img/faq/arrow.png" alt="Arrow" width="16" height="16">
                    </button>
                </h3>
        
                <p class="faq-acc-el-descr-frame">Trata-se de uma oferta atribuída apenas pelo registo, que pode incluir crédito de bónus ou free spins, sem necessidade
                de depósito. Parece boa, mas estas promoções têm sempre umas limitações de levantamento, prazos curtos e requisitos de
                apostas obrigatórios. Em casinos licenciados, estas regras são sempre apresentadas de forma clara na página da campanha.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
Quais são os métodos de pagamento mais comuns em Portugal?
        
<img class="arrow-img" src="/img/faq/arrow.png" alt="Arrow" width="16" height="16">
                    </button>
                </h3>
        
                <p class="faq-acc-el-descr-frame">Multibanco e MB Way são as opções mais utilizadas, seguidas por cartões bancários e algumas carteiras digitais. Para
                efetuar levantamentos, é necessário concluir o processo de verificação de identidade e, regra geral, o levantamento é
                feito através do mesmo método utilizado no depósito, por causa das regras anti-lavagem de dinheiro.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
Como jogar de forma responsável?
        
<img class="arrow-img" src="/img/faq/arrow.png" alt="Arrow" width="16" height="16">
                    </button>
                </h3>
        
                <p class="faq-acc-el-descr-frame">Antes de começares, decide quanto tempo vais jogar e quanto dinheiro podes gastar e lembra-te que isto é só para te
                divertires. Evita tentar recuperar perdas com apostas mais elevadas. Utiliza as ferramentas de controlo disponíveis na
                plataforma e, se sentires perda de controlo, faz uma pausa e procura apoio adequado.</p>
            </li>
        </ul>
    </div>
</section>
<section class="allow-section">
    <div class="container">
        <div class="allow-wrapper">
            <h2 class="allow-title">Avico</h2>
            <p class="allow-text">Atuamos em total conformidade com as normas estabelecidas pelo SRIJ. Todas as plataformas listadas possuem licença ativa
            para atuar legalmente em Portugal. Apenas maiores de 18 anos podem participar de jogos online. Para orientações sobre
            jogo responsável e apoio ao jogador, visite o site oficial do SRIJ.</p>
            <div class="img-wrapper">
            <img src="/img/allow/one.png" alt="cordon moody" loading="lazy">
            <img src="/img/allow/two.png" alt="18+" loading="lazy">
            <img src="/img/allow/three.png" alt="icad" loading="lazy">
            <img src="/img/allow/four.png" alt="ssl" loading="lazy">
            <img src="/img/allow/five.png" alt="camcare" loading="lazy">
            <img src="/img/allow/six.png" alt="SRIJ" loading="lazy">
        </div></div>
    </div>
</section>