body{
  font-family: "Afacad", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22222;
    color: #000;
}
@media only screen and (min-width: 1440px) {
body{
    font-size: 20px;
}
}