.cookie-popup {
  position: fixed;
  bottom: 30px;
  left: 48%;
  transform: translateX(-48%);
  padding: 21px;
  border: 1px solid #fff;
  border-radius: 12px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 7px 4px 0 rgba(0, 0, 0, 0.01);
background: #fff;
  z-index: 1000;
  width: 100%;
  height: auto;
  display: none;
}

.cookie-class {
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  color: #0d1b03;
  text-align: left;
}


.btn-accept {
  margin-top: 20px;
  box-sizing: border-box;
  border: none;
  background: linear-gradient(166deg, #001f7b 0%, #278ac4 100%);
  border-radius: 6px;
  padding: 10px 16px;
  width: 333px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;

}

@media screen and (min-width: 1439px) {
  .cookie-popup {
    width: 916px;
      height: auto;
      padding: 21px 40px;
  }

  .popup-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
justify-content: space-between;

  }

.cookie-class{
  width: 474px;
}
.btn-accept{
  margin-top: 0;
}
}